<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{EB42CD68-8774-4FB9-9617-F51F248285DD}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="{DA009569-DCBD-4A08-8D3E-79F39B11BB8F}">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp444538202D45DE3F59AA31002C700A2F" Guid="{F31D79D9-9847-46C9-BC6A-538386CB1D34}">
                <File Id="fil7C8D6482FE6CC3F247D2D051D3648AC4" KeyPath="yes" Source="$(var.BasePath)\ThirdPartyNotices.txt" />
            </Component>
            <Component Id="cmpA5355603680DBD8908CE0DBE0E8F7719" Guid="{A4C55998-4695-4997-8771-58D939ACB46A}">
                <File Id="fil2F618FA081685BCBDCE2C6BE117DD781" KeyPath="yes" Source="$(var.BasePath)\TMDbLib.dll" />
            </Component>
            <Component Id="cmpCBF4FB5E9A001E02124A91A3A1A092D0" Guid="{D5EDE5A3-8FCC-4F91-B875-A98B4F07FD0A}">
                <File Id="filD4B10FF298070BF820E0F9D1F4998CAD" KeyPath="yes" Source="$(var.BasePath)\TvSeriesCalendar.exe" />
            </Component>
            <Component Id="cmp63691DB9CE699276F93604BD9A49564C" Guid="{8384B6B6-BAC6-42CB-BED8-4E0888D5E20E}">
                <File Id="fil90AE57155F87FE8FE33CC0268BC85771" KeyPath="yes" Source="$(var.BasePath)\TvSeriesCalendar.exe.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ReleasedComponents">
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmp444538202D45DE3F59AA31002C700A2F" />
            <ComponentRef Id="cmpA5355603680DBD8908CE0DBE0E8F7719" />
            <ComponentRef Id="cmpCBF4FB5E9A001E02124A91A3A1A092D0" />
            <ComponentRef Id="cmp63691DB9CE699276F93604BD9A49564C" />
        </ComponentGroup>
    </Fragment>
</Wix>