<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">    
  <!--Fixed Upgrade ID >> Never change this!-->
  <?define UpgradeCode = {1918E783-2E05-45C4-AF31-373DD2E83501} ?>
    
  <!--Define main product-->
	<Product Id="*"
           Name="!(loc.InstallerName_$(var.Platform))"
           Language="!(loc.Language)"
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)"
           UpgradeCode="$(var.UpgradeCode)">
    
    <!--Provide package details-->
		<Package InstallerVersion="200"
             Compressed="yes" 
             InstallScope="perMachine"
						 Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"/>
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
    <!--include .cab file into .msi file-->
		<MediaTemplate 
      EmbedCab="yes"
      />
    <!--Define Installer App Icon-->
    <Icon Id="AppIcon" SourceFile="$(var.TvSeriesCalendar.ProjectDir)\TvSeriesCalendar.ico"/>
    
    <!--Use Icon-->
    <Property Id="ARPPRODUCTICON">AppIcon</Property>
    <Property Id="ARPPURLINFOABOUT">https://github.com/Death-Truction/TvSeriesCalendar</Property>
    <Property Id="REGINSTALLDIR">
      <RegistrySearch Id='InstallationPath' 
                      Type='raw'
                      Root='HKLM'
                      Key="SOFTWARE\DeathTruction\!(loc.ProductName)"
                      Name='InstallationPath' />
    </Property>

    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />
    <UIRef Id="MyInstallDir_UI" />

    <!-- Binary for the certificate-->
    <Binary
      Id="TvSeriesCalendar.Binary"
      SourceFile="$(var.ProjectDir)Certificate.der" />

    <!--Define components etc.-->
		<Feature Id="ProductFeature" Title="TvSeriesCalendar" Level="1">
			<ComponentGroupRef Id="ReleasedComponents" />
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <InstallExecuteSequence>
      <Custom Action='RemoveFilesAction' After='InstallFiles'>
        (NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")
      </Custom>
    </InstallExecuteSequence>
	</Product>
</Wix>
