<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <CustomAction Id='RemoveFilesAction'
                  Directory="INSTALLFOLDER"
                  Execute="deferred"
                  Return="ignore"
                  HideTarget="no"
                  Impersonate="no" 
                  ExeCommand="cmd.exe /c cd .. &amp; rmdir /Q /S &quot;[INSTALLFOLDER]&quot;"/></Fragment>
</Wix>
